#resetButton{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #ff5400 0%, #be1d00 100%),
            #FF3131,
            #E35335,
            radial-gradient(center 50% 50%, radius 100%, #be1d00, #ff5400);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-background-radius: 50em;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-max-height: 150px;
    -fx-max-width: 150px;
    -fx-font-size: 30;
}
#resetButton:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #ff5400 0%, #be1d00 100%),
            #FF3131,
            #E35335,
            radial-gradient(center 50% 50%, radius 100%, #FF4433, #FF2400);
}
#resetButton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#resetButton Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#shuffleButton{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #50C878 0%, #228B22 100%),
            #32CD32,
            #00A36C,
            radial-gradient(center 50% 50%, radius 100%, #228B22, #50C878);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-background-radius: 50em;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-max-height: 150px;
    -fx-max-width: 150px;
    -fx-font-size: 30;
}
#shuffleButton:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #50C878 0%, #228B22 100%),
            #32CD32,
            #00A36C,
            radial-gradient(center 50% 50%, radius 100%, #4CBB17, #0FFF50);
}
#shuffleButton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#shuffleButton Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
#deployFleet {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 20px;
    -fx-padding: 8 15 15 15;
}
#deployFleet:hover{
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, #36454F, #191d22);
}
#deployFleet:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#deployFleet Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}